.weather-app-container{
    .search-weather-container{
        display:flex;
        justify-content: center;
        gap: 15px;
        padding-top: 10px;
        height: 28px;
        input{
            padding: 0 5px;
        }
    }
}